table {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    border-collapse: collapse;        
}

th, td {
    border: 2px black solid;
}

th {
    background-color: darkslategray;
    color: white;
}

input, select { 
    float: left;
}

#alerta {
    color: red;
}